:root{
	--mainColor: #15202B;
	--SecondaryColor: #192734;

	--borderColor: #164D56;

	--mainText: #fff;
	--SecondaryText: #eeeeee;

	--themesDotBorder: #fff ;
	--previewBg: rgb(25,39,52,0.8);
	--previewShadow: #111921;

	--buttonColor: #17a2b8;
}